body {
    background-color:#3AAFA9;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }

  article {
    float: left;
    margin: 0 1.5%;
    width: 100%;
    color: #DEF2F1;
    
    
  }
  aside {
    float: right;
    margin: 0 1.5%;
    width: 30%;
    background-color: #2B7A78;
  }
  header
  {
      font-size: 50;
      
  }
  footer
  {
      align-content: center;
  }
  figcaption
  {
      font-size: 25;
  }
  
